section
	h1 Curso
	h3 sldjsldj
	p
		small
			| Profesor: &nbsp
			a(href='http://www.kikeestrada.website', class='myclass') Enrique Estrada
	ul
		li lorem
		li lorem
section
	h3 Curso
	p
		small
			| Profesor Enrique
		iframe(height='297' style='width: 100%;' scrolling='no' title='Cups' src='https://codepen.io/Adir-SL/embed/preview/vboWrJ?height=297&theme-id=dark&default-tab=css,result' frameborder='no' allowtransparency='true' allowfullscreen='true')
			| See the Pen
			a(href='https://codepen.io/Adir-SL/pen/vboWrJ') Cups
			|  by Adir
			|   (
			a(href='https://codepen.io/Adir-SL') @Adir-SL
			| ) on
			a(href='https://codepen.io') CodePen
			| .
