extends ../config/template
block main-container
	section
		h1 Title
		h3 Sub title
		p
			small
				| Teacher: &nbsp
				a(href='http://www.kikeestrada.website', class='myclass') Name Last Name
		ul
			li lorem
			li lorem
	section
		h1 Title
		h3 Sub title
		p
			small
				| Teacher: &nbsp
				a(href='http://www.kikeestrada.website', class='myclass') Name Last Name
		ul
			li lorem
			li lorem
	//include ../components/demo/demo
