extends ../config/template
block main-container
	section
		section
			h1 Main Title 1
			h3 Main Sub title 1
			p
				small
					| Teacher: &nbsp
					a(href='http://www.kikeestrada.website', class='myclass') Name Last Name
			ul
				li lorem
				li lorem
		section
			h1 Main Title 2
			h3 Main Sub title 2
			p
				small
					| Teacher: &nbsp
					a(href='http://www.kikeestrada.website', class='myclass') Name Last Name
			ul
				li lorem
				li lorem
	section
		h1 Main Title right 1
		h3 Main Sub title right 1
		p
			small
				| Teacher: &nbsp
				a(href='http://www.kikeestrada.website', class='myclass') Name Last Name
		ul
			li lorem
			li lorem
	//- include ../components/demo/demo
