extends ../config/template
block main-container
	section
		h1 Curso
		h3 Instituto
		p
			small
				| Profesor: &nbsp
				a(href='http://www.kikeestrada.website', class='myclass') Enrique Estrada
		ul
			li lorem
			li lorem
	section
		h1 Temario
		h3 Curso
		p
			small
				| Profesor Enrique
