section
	section(data-transition='slide', data-background='#4d7e65', data-background-transition='zoom')
		h2 Background Transitions
		p
			| Lorem Ipsum
	section(data-transition='slide', data-background='steelblue', data-background-transition='zoom')
		h2 Background Transitions
		p
			| Lorem Ipsum
	section(data-transition='slide', data-background='tomato', data-background-transition='zoom')
		h2 Background Transitions
		p
			| Lorem Ipsum

