section
	h3 Default
section
	h3 Default
section(data-transition='zoom')
	h3 data-transition: zoom
section(data-transition='zoom-in fade-out')
	h3 data-transition: zoom-in fade-out
section
	h3 Default
section(data-transition='convex')
	h3 data-transition: convex
section(data-transition='convex-in concave-out')
	h3 data-transition: convex-in concave-out
section
	section(data-transition='zoom')
		h3 Default
	section(data-transition='concave')
		h3 data-transition: concave
	section(data-transition='convex-in fade-out')
		h3 data-transition: convex-in fade-out
	section
		h3 Default
section(data-transition='none')
	h3 data-transition: none
section
	h3 Default
