section
	h2 Global State
	p
		| Set
		code data-state="something"
		|  on a slide and
		code "something"
		|                        will be added as a class to the document element when the slide is open. This lets you
		|                        apply broader style changes, like switching the page background.
