include slide1
// Example of nested vertical slides
include vertical-slides
include zoom
include markdown
include fragments
include transitions
include themes
include slide-backgrounds
include background-transitions
include data-transitions
include pretty-code
include Marvelous-List
include Ordered-List
include tables
include Clever-Quotes
include inter-connections
include Speaker-View
include Export-to-pdf
include Global-State
include State-Events
include Take-a-Moment
include Much-more
include Embedded-video
include math
include data-background
include data-transitions-2

